@page
@model Biletciniz.Pages.Admin.Sanatci.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="row" style="margin-top:15px;margin-bottom:15px">
    <div class="col-md-10">

    </div>
    <div class="col-md-2">

        <p>
            <a class="btn btn-danger" asp-page="Create">Sanatcı Oluştur</a>
        </p>

    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sanatci[0].Adi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sanatci[0].Soyadi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sanatci[0].DogumTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sanatci[0].Sehir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sanatci[0].Cinsiyet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Sanatci)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Adi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Soyadi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DogumTarihi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sehir.SehirAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cinsiyet)
                </td>
                <td>
                    <a class="btn btn-danger"  asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a  class="btn btn-info" asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a  class="btn btn-secondary" asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
